<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852440229464-0klcrfsbocal73sllk6pofl5narpe1d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852440229464-0klcrfsbocal73sllk6pofl5narpe1d8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852440229464-gr4k9hbnffjt91m36nr31m92ug333qqa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6RrDBExmMSFr4TRszr5RplDo3AL5pdek</string>
	<key>GCM_SENDER_ID</key>
	<string>852440229464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.ctnr.livechat</string>
	<key>PROJECT_ID</key>
	<string>flutterlive-5010b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlive-5010b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852440229464:ios:a0666c0c9555ecca7f4c2d</string>
	<key>DATABASE_URL</key>
	<string>https://flutterlive-5010b.firebaseio.com</string>
</dict>
</plist>